*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("./Desing/fondo-registro.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
.Registro {
    width: 400px;
    border-left-color: rgb(231, 220, 220);
    padding: 30px;
    margin: auto;
    font-family: 'calibri'
}
.Registro h4{
    font-size: 22px;
    margin-bottom: 18px;
}
.control{
    width: 100;
    color: black ;
    border-radius: 4px;
    margin-bottom: 5px;
    font-family: 'calibri';
    font-size: 18px;
}
.Registro p{
    height: 35px;
    text-align: left;
    font-size: 18px; 
}
.Registro a{
    color:black;
}
.Registro.boton{
    width: 100%;
    color:black;
    border: none;
    padding: 10px;
    border-radius: 4px;
    margin: 16px;
    font-size: 16px;

}
