<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head')%>
    <body>
        <%-include('../partials/header')%>
        <main class="body-main">
            <section class="form-crear">
                <p>CREAR PRODUCTOS</p>
                <input type="text" name="crearProd " id="editar" placeholder="nombre del producto">
                <input type="text" name="crearDesc" id="descripcion" placeholder="descripcion del producto">
                <input type="text" name="crearCat" id="categoria" placeholder="categoria del producto">
                <input type="number" name="crearPrec" id="precio" placeholder="valor del producto">
                <div>
                    <button type="submit" class="buttons">Enviar</button>

                </div>
            </section>
            
        </main>
    </body>
</html>
