<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head')%>
    <body>
        <%-include('../partials/header')%>
        <main class="body-main">
            <section class="form-editar">
                <p>EDITAR PRODUCTOS</p>
                <input type="text" name="Editarnombre" id="nombre" placeholder="nombre del producto">
                <input type="text" name="editarDescr" id="descripcion" placeholder="descripcion del producto">
                <input type="text" name="EditarCateg" id="categoria" placeholder="categoria del producto">
                <input type="number" name="editarPrecio" id="precio" placeholder="valor del producto">
                <input type="image">
                <div>
                    <button type="submit" class="buttons">Enviar</button>

                </div>
            </section>
            
        </main>
        <%-include('../partials/footer')%>
    </body>
</html