<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head')%>
<body>
    <%-include('../partials/header')%>
    <main class="body-main">
        <div>
        <div class="main-container">
            <div class="second-container">
                <article class="article-selected">
                    <div class="article-image" >
                        <img src="/images/cuzqueña.jpg" alt="cuzqueña">
                       
                    </div>
                    <div class="article-description">
                        <p class="description">6 pack cerveza "Cuzqueña" Golden Lager (Orígen Perú)</p>
                        <p class="price">$1800 (10% OFF SI ESTAS REGISTRADO)</p>
                        <p class="add-cart"><a href="#">Agregar al carrito</a></p>
                       
                    </div>
                </article>
            </div>
            
            
        </div>
        </div>
    </main>
    <%-include('../partials/footer')%>
</body>
</html>