<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andina</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
     rel="stylesheet" /> 
</head>
<body>
    <header class="main-header">
        <div class="top-header">
            <div class="burguer-button">
                <a href="#" >
                <i class="fas fa-bars"></i>
                </a>
            </div>
            <div class="logo">
                <img src="/images/logo.jpg" alt="Andina productos regionales">
            </div>
            <div class="log-in">
                <a href="/login.html" class="log-in-icon">
                <i class="fas fa-user-alt"></i>
                </a>
            </div>
            <div class="cart">
                <a href="/productCart.html" class="cart-icon">
                <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
            <div class="register">
                <a href="/register.html">
                    <i class="fas fa-sign-in-alt"></i>
                </a>
            </div>
            
        </div>
             <div class="search-bar">
             <p><input type="search" placeholder="producto, categoría, orígen">
             <i class="fas fa-search .icono-login"></i></p>
        </div>
 
    </header>
    <main class="body-main">
        <div class="new-arrivals"><h4>NOVEDADES</h4></div>
        <div class="novedades">
            
            <article class="vino">
                <a href="#"><img src="/images/vino.jpg" alt="vino"></a>
                <img class="new" src="/images/new-icon-1497910_1280.webp" alt="">
                <p>Vino tinto Casillero del Diablo. (Orígen Chile)</p>
            </article>
            <article class="chocolate">
                <a href="#"><img src="/images/chocolate.jpg" alt="chocolate"></a>
                <img class="new" src="/images/new-icon-1497910_1280.webp" alt="">
                <p>Chocolate con maní Sublime. (Orígen Perú)</p>
            </article>
            <article class="cafe">
                <a href="#"><img src="/images/cafe.webp" alt="cafe"></a>
                <img class="new" src="/images/new-icon-1497910_1280.webp" alt="">
                <p>Café Ramón Valdez. (Orígen Colombia)</p>
            </article>
            <article class="yerba"><a href="#"><img src="/images/yerba.webp" alt="yerba"></a>
                <img class="new" src="/images/new-icon-1497910_1280.webp" alt="">
                <p>Yerba mate Canarias. 
                    (Orígen Uruguay)</p>
            </article>
        </div>
        <section class="products">
            <article class="cuzqueña">
                <a href="/productDetail.html"><img src="/images/cuzqueña.jpg" alt="cuzqueña"></a>
                <div class="bottom-article">
                 <p>Cerveza Cuzqueña.(Orígen Perú)</p>
                 <img class="onsale" src="/images/onsale.jpg" alt="on sale">
               </div>
            </article>
        
        
            <article class="cachaza">
                <a href="#"><img src="/images/cachaza.jpg" alt="cachaza"></a>
               <div class="bottom-article">
                 <p>Cachaza Velho Barreiro.(Orígen Brasil)</p>
                 <img class="onsale" src="/images/onsale.jpg" alt="on sale">
               </div>
            </article>  
        
        
            <article class="ddl">
                <a href="#"><img src="/images/DDL.jpg" alt="DDL"></a>
                <div class="bottom-article">
                 <p>Dulce de leche La Serenisima.(Orígen Argentina) </p>
                 <img class="onsale" src="/images/onsale.jpg" alt="on sale">
               </div>
            </article>
        
        
            <article class="harina">
                <a href="#"><img src="/images/harina.jpg" alt="harina"></a>
                <div class="bottom-article">
                 <p>Harina Pan.(Orígen Venezuela)</p>
                 <img class="onsale" src="/images/onsale.jpg" alt="on sale">
                </div>
            </article>    
        
        
            <article class="pisco">
                <a href="#"><img src="/images/pisco.jpg" alt="pisco"></a>
                <div class="bottom-article">
                 <p>Pisco Cuatro Gallos.(Orígen Perú)</p>
                 <img class="onsale" src="/images/onsale.jpg" alt="on sale">
                </div>
            </article>             
        </section>
    </main>
    <footer class="main-footer">
         <div class="sub-footer">
            <div class="logo-footer">
                <img  class="logo-footer" src="/images/logo.jpg" alt="logo">
            </div>
            <div class="copyrigth">copyrigth © 2022 Andina</div>
            <div class="social-network">
                
                    <p><a href="#">
                        <i class="fab fa-instagram"></i>
                       </a>
                    </p>
                    <p><a href="#">
                        <i class="fab fa-facebook"></i>
                       </a>
                    </p> 
                    <p>
                        <a href="#">
                        <i class="fab fa-twitter"></i>
                        </a>
                    </p>    
                
            </div>
        </div>
    </footer>
</body>
</html>
           