<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andina</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
     rel="stylesheet" /> 
</head>
<body>
    <header class="main-header">
        <div class="top-header">
       
            <div class="burguer-button">
                <a href="#" >
                <i class="fas fa-bars"></i>
                </a>
            </div>
            
        <div class="logo">
            <img src="/images/logo.jpg" alt="Andina productos regionales">
        </div>
        <div class="log-in">
            <a href="#" class="log-in-icon">
                <i class="fas fa-user-alt"></i></a>
        </div>
        <div class="cart">
            <a href="#" class="cart-icon">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
        </div>
        <div class="search-bar">
           <p><input type="search" placeholder="Buscar productos , marcas">
            <i class="fas fa-search .icono-login"></i></p>
        </div>
    </header>
    <main class="body-main">
        <section>
            <article class="cuzqueña">
                <img src="/images/cuzqueña.jpg" alt="cuzqueña">
                <p></p>
            </article>
        </section>
        <section>
            <article></article>
            <p></p>
        </section>
        <section>
            <article></article>
            <p></p>
        </section>
        <section>
            <article></article>
            <p></p>
        </section>
    </main>
    <footer class="main-footer">
         <div class="sub-footer">
            <div class="logo-footer">
                <img  class="logo-footer" src="/images/logo.jpg" alt="logo">
            </div>
            <div class="copyrigth">copyrigth © 2022 Andina</div>
            <div class="social-network">
                
                    <p><a href="#">
                        <i class="fab fa-instagram"></i>
                       </a>
                    </p>
                    <p><a href="#">
                        <i class="fab fa-facebook"></i>
                       </a>
                    </p> 
                    <p>
                        <a href="#">
                        <i class="fab fa-twitter"></i>
                        </a>
                    </p>    
                
            </div>
        </div>
    </footer>
</body>
</html>
           