<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andina</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
     rel="stylesheet" /> 
</head>
<body>
    <header class="main-header">
        <div class="top-header">
            <div class="burguer-button">
                <a href="#" >
                <i class="fas fa-bars"></i>
                </a>
            </div>
            <div class="logo">
                <img src="/images/logo.jpg" alt="Andina productos regionales">
            </div>
            <div class="log-in">
                <a href="/login.html" class="log-in-icon">
                <i class="fas fa-user-alt"></i>
                </a>
            </div>
            <div class="cart">
                <a href="/productCart.html" class="cart-icon">
                <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
            <div class="register">
                <a href="/register.html">
                    <i class="fas fa-sign-in-alt"></i>
                </a>
            </div>
            
        </div>
             <div class="search-bar">
             <p><input type="search" placeholder="producto, categoría, orígen">
             <i class="fas fa-search .icono-login"></i></p>
        </div>
 
    </header>

        <main class="body-main">
        <section class="Registro">
            <h4>Formulario de Registro</h4>
            <input class="control" type="text" name=nombres id="nombres" placeholder="Ingrese su Nombre" >
            <input class="control" type="text" name=apellidos id="apellidos" placeholder="Ingrese su Apellido" >
            <input class="control" type="email" name=correo id="correo" placeholder="Ingrese su Email" >
            <input class="control" type="password" name=contraseña id="contraseña" placeholder="Ingrese su Contraseña" >
            <p>Estoy deacuerdo con <a href="#">terminos y condiciones</a></p>
            <input class="boton" type="submit" velue="Registrar">
            <p><a href="#">¿tengo cuenta?</a></p>
        </section>
        </main>
        <footer class="main-footer">
            <div class="sub-footer">
               <div class="logo-footer">
                   <img  class="logo-footer" src="/images/logo.jpg" alt="logo">
               </div>
               <div class="copyrigth">copyrigth © 2022 Andina</div>
               <div class="social-network">
                   
                       <p><a href="#">
                           <i class="fab fa-instagram"></i>
                          </a>
                       </p>
                       <p><a href="#">
                           <i class="fab fa-facebook"></i>
                          </a>
                       </p> 
                       <p>
                           <a href="#">
                           <i class="fab fa-twitter"></i>
                           </a>
                       </p>    
                   
               </div>
           </div>
       </footer>
   </body>
   </html>
              
    