<footer class="main-footer">
    <div class="sub-footer">
       <div class="logo-footer">
         <a href="/">
           <img  class="logo-footer" src="/images/mainImages/logo.jpg" alt="logo">
         </a>  
       </div>
       <div class="copyrigth">copyrigth © 2022 Andina</div>
       <div class="social-network">
           
               <p><a href="#">
                   <i class="fab fa-instagram"></i>
                  </a>
               </p>
               <p><a href="#">
                   <i class="fab fa-facebook"></i>
                  </a>
               </p> 
               <p>
                   <a href="#">
                   <i class="fab fa-twitter"></i>
                   </a>
               </p>    
           
       </div>
       
   </div>
</footer>