<header class="main-header">
    <div class="top-header">
        <div class="burguer-button">
            <a href="#" >
            <i class="fas fa-bars"></i>
            </a>
        </div>
        <div class="logo">
            <img src="/images/mainImages/logo.jpg" alt="Andina productos regionales">
        </div>
        <div class="log-in">
            <a href="/user/login" class="log-in-icon">
            <i class="fas fa-user-alt"></i>
            </a>
        </div>
        <div class="cart">
            <a href="/product/productCart" class="cart-icon">
            <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
        <div class="register">
            <a href="/user/register">
                <i class="fas fa-sign-in-alt"></i>
            </a>
        </div>
        
    </div>
         <div class="search-bar">
         <p><input type="search" placeholder="producto, categoría, orígen">
         <i class="fas fa-search .icono-login"></i></p>
    </div>

</header>