<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head')%>
    <body>
        <%-include('../partials/header')%>
        <main class="body-main">
            <section class="information">
                <div class="main-information">
                <h3 class="h3-login">
                    CREAR PRODUCTOS
                </h3>
                <form action="/admin/store" method="POST" enctype="multipart/form-data">
                    <div>
                    <label for="name">Nombre del producto</label>
                      <input type="text" name="name" id="name">
                    </div>
                    <div>  
                    <label for="description">Descripcion del producto</label>  
                      <input type="text" name="description" id="description">
                    </div>
                    <div>
                    <label for="categorie">categoria del producto</label>  
                      <input type="text" name="categorie" id="categorie">
                    </div>
                    <div> 
                    <label for="price">Precio del producto</label>
                      <input type="text" name="price" id="price">
                    </div>
                    <div>  
                    <label for="country_id">Origen del producto</label>  
                      <input type="text" name="country_id" id="country_id">
                    </div>
                    <div>  
                    <label for="discount">Descuento del producto</label>  
                      <input type="text" name="discount" id="discount">
                    </div>
                    <div>
                    <label for="condicion">Condicion del producto</label>  
                      <input type="text" name="condicion" id="condicion">
                    </div>
                    <div> 
                    <label for="image">Imagen del producto</label>  
                      <input type="file" name="image" id="image">
                    </div>
               
                

                <div>
                    <button type="submit" class="buttons">Enviar</button>

                </div>
              </form>
                </div>
            </section>
            
        </main>
        <%-include('../partials/footer')%>
    </body>
</html>
